.git
.github
node_modules
apps/*/node_modules
packages/*/node_modules

apps/api/dist
apps/api/generated
apps/client-demo/.next
apps/client-demo/out

demo-files
.env
.env.*
!.env.example

npm-debug.log
coverage
.DS_Store